* {
  transition: all 0.2s ease;
}

.sidebar {
  &__line {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    background-color: #3053e4;
    z-index: 3100;
  }

  &__container {
    position: fixed;
    left: -3000px;
    top: 0;
    bottom: 0;
    width: 0;
    background-color: #fff;
    z-index: 3000;
    box-sizing: border-box;
  }
}

.close {
  display: none;
}

.active {
  .sidebar__line {
    width: 300px;
  }

  .sidebar__container {
    left: 0;
    width: 100%;
    padding-left: 300px;
  }

  .close {
    display: block;
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 4000;
    color: #fff;
    font-size: 40px;
    cursor: pointer;
  }
}
